# Server Variables
# NODE_ENV="development"
DATABASE_URL="postgresql://user:password@localhost:5432/plexierp?schema=public"

# Client Variables
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# NextAuth
AUTH_SECRET="generate_a_random_base64_string_here"
